---
import { Icon } from "astro-icon/components";

import BaseLayout from "./BaseLayout.astro";

const { frontmatter, badge, type, id } = Astro.props;
const githubPath = type === "blog" ? `src/blog/${id}.md` : `src/tidbits/${id}.md`;
const ogImage = type === "blog" ? `og/blog/${id}.png` : `og/tidbits/${id}.png`;
---
<BaseLayout pageTitle={frontmatter.title} activePage="blog" ogImage={new URL(ogImage, Astro.site)} title={frontmatter.title} description={frontmatter.description} ogType="article">
  <article>
    <div class="flex flex-col gap-2 justify-center">
      {badge ? <span class="badge badge-primary mb-2">{badge}</span> : null}
      {frontmatter.draft ? <span class="badge badge-warning mb-2">Draft</span> : null}
      <h1 class="text-4xl font-bold mb-2 text-secondary">
        {frontmatter.title}
      </h1>
      <p class="text-sm text-gray-400">{frontmatter.pubDate.toLocaleString('en-US', {month: 'long', day: 'numeric', year: 'numeric', timeZone: 'UTC'})}</p>
      {frontmatter.image ? <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} class="rounded-lg" /> : null}
    </div>
    <div class="markdown mt-8">
      <slot />
    </div>
    <div class="my-8 divider" />
    <div class="flex flex-row gap-2 justify-between items-center">
      <div class="flex flex-row gap-2 flex-wrap">
        {frontmatter.tags.map((tag: string) => (
          <a href={`/tags/${tag}/`} class="badge badge-soft badge-accent badge-lg hover:badge-outline">
            {tag}
          </a>
        ))}
      </div>
      <div class="flex flex-row gap-2">
        <a href={`https://github.com/jtokoph/jasontokoph.com/blob/main/${githubPath}`}>
          <Icon name="mdi:code" class="hover:text-secondary" size={24} />
        </a>
      </div>
    </div>
  </article>
</BaseLayout>
